@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

.body-container {
    padding: 20px;
    font-family: 'Inter', sans-serif;

    .section-title {
        font-size: 22px;
        font-weight: 600;
        color: #064270;
        margin-bottom: 15px;
    }

}

/* 📱 Responsive para móviles */
@media (max-width: 768px) {
    .dashboard-grid {
        grid-template-columns: 1fr;
    }
}
.card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 1200px;
    text-align: center;
    height: 500px; /* Altura fija de la tarjeta */
    display: flex;
    flex-direction: column; /* Asegura que los elementos internos estén apilados verticalmente */
}

.card-header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-body {
    display: flex;
    flex-direction: column; /* Apila las gráficas de forma vertical */
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1; /* Permite que el cuerpo de la tarjeta crezca y ocupe el espacio restante */
    overflow-y: auto; /* Activa el scroll vertical cuando el contenido exceda el tamaño */
    padding-right: 10px; /* Para evitar que el contenido se toque con la barra de scroll */
}