<body>
    <header>
        <div class="logo"><span class="warm">Warm</span><span class="heart">Heart</span></div>
        <nav>
            <button class="login-button" routerLink="home" (click)="rutaAcceso()"><a class="login-a" href="login">Iniciar Sesión</a></button>
        </nav>
    </header>
    
    <section class="hero">
        <div class="hero-text">
            <h1>No es solo salud,<br> es <strong>WarmHeart</strong></h1>
            <p>Monitorea tu ritmo cardíaco, temperatura y oxigenación en tiempo real.</p>
            <button class="cta-button">Saber más</button>
        </div>
        <div class="hero-image">
            <img src="https://resources.sears.com.mx/medios-plazavip/mkt/62b51fb0af951_negro-portadapng.jpg?scale=500&qlty=75" alt="Monitor de Salud">
        </div>
    </section>

    <div class="containers">
        <div class="servicess">
            <img src="heartLanding.png" alt="Ritmo Cardíaco">
            <h3>Monitoreo de Ritmo Cardíaco</h3>
            <p>Obtén un seguimiento preciso y en tiempo real de tu frecuencia cardíaca.</p>
        </div>
        <div class="servicess">
            <img src="temperatureAl.png" alt="Temperatura">
            <h3>Control de Temperatura</h3>
            <p>Detecta cambios en tu temperatura corporal y mantén un control adecuado.</p>
        </div>
        <div class="servicess">
            <img src="oxigenacion.png" alt="Oxigenación">
            <h3>Oxigenación en Tiempo Real</h3>
            <p>Monitorea tus niveles de oxígeno en la sangre y previene complicaciones.</p>
        </div>
    </div>

    <div class="contenedorPB">
        <h2 class="titulo">Obtén tu Paquete Básico</h2>
        <p>Aprovecha nuestra promoción especial y empieza a monitorear tu salud con WarmHeart.</p>
        <div class="promo">
            <img src="https://resources.sears.com.mx/medios-plazavip/mkt/62b51fb0af951_negro-portadapng.jpg?scale=500&qlty=75" alt="Imagen de promoción">
            <div>
                <span class="price">$29.99</span>
                <span class="discount">Antes: $49.99</span>
            </div>
        </div>
        <button class="cta-button">Comprar Ahora</button>
    </div>
    
   
    
</body>

<footer>
    <div class="footer-container">
        <div class="footer-info">
            <p>&copy; 2025 WarmHeart. Todos los derechos reservados.</p>
        </div>
        <div class="footer-links">
            <ul>
                <li><a href="#">Política de privacidad</a></li>
                <li><a href="#">Términos y condiciones</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </div>
        <div class="footer-social">
            <a href="#" class="social-icon">Facebook</a>
            <a href="#" class="social-icon">Twitter</a>
            <a href="#" class="social-icon">Instagram</a>
        </div>
    </div>
</footer>  