<div class="layout">
  <!-- Barra lateral -->
  <app-menu-superviser></app-menu-superviser>

  <!-- Contenido principal -->
  <div class="main-content">
    
      <!-- Header -->
      <app-header></app-header>

      <!-- Sección Body (Signos Vitales) -->
      <div class="body-container">
          <div class="content-wrapper">
            <div class="settings-container">
              <h2 class="settings-title">Configuración</h2>

              <div class="settings-dashboard">
                <aside class="settings-menu">
                  <ul>
                    <li [class.active]="seccionActiva === 'perfil'" (click)="cambiarSeccion('perfil')">Perfil</li>
                    <li [class.active]="seccionActiva === 'salir'">
                      <a routerLink="/">Salir</a>
                    </li>
                  </ul>
                </aside>

                <main class="settings-content">
                  <!-- Sección de Perfil -->
                  <section class="profile-section" *ngIf="seccionActiva === 'perfil'">
                    <img src="usuario.png" alt="Avatar" class="profile-avatar">
                    <div class="profile-info">
                      <h3>{{ supervisor?.name || 'Nombre no disponible' }}</h3>
                      <p>Correo: {{ supervisor?.email || 'Correo no disponible' }}</p>
                    </div>
                  </section>

                  <!-- Sección de Configuración -->
                  <section class="settings-section" *ngIf="seccionActiva === 'configuracion'">
                    <h3>Modificar Media BPM</h3>
                    <input type="number" min="40" max="200" placeholder="Ingresa BPM Maxima">
                    <input type="number" min="40" max="200" placeholder="Ingresa BPM Minima">
                    <button (click)="guardarBPM()">Guardar</button>

                    <h3>Agregar Supervisor</h3>
                    <form (ngSubmit)="agregarSupervisor()">
                      <input type="text" name="nombre" placeholder="Nombre" required>
                      <input type="email" name="email" placeholder="Correo Electrónico" required>
                      <input type="password" name="contraseña" placeholder="Contraseña" required>
                      <input type="password" name="contraseñaConfirmar" placeholder="Confirmar contraseña" required>
                      <button type="submit">Agregar</button>
                    </form>
                  </section>
                </main>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>
