<div class="layout">
    <!-- Barra lateral -->
    <app-menu></app-menu>

    <!-- Contenido principal -->
    <div class="main-content">
        <!-- Header -->
        <app-header></app-header>


        <!-- Sección Body (Signos Vitales) -->
        <div class="body-container">
            <div class="section-title"><h2>Oxigenacion</h2></div>
            <div class="content-wrapper">
                
                <div class="card">
                    <app-grafic-o></app-grafic-o>
                    <div class="card-body">
                        
                        <div class="box">
                            
                        </div>

                        <div class="box">
                            <p><strong>Oxigenacion:</strong> {{oxigenacion}}</p>
                        </div>

                        <div class="box">
                            <p><strong>Status:</strong> {{status}}</p>
                        </div>

                        <div class="box">
                            <p><strong>Hora:</strong> {{hora}}</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>