<div class="login-container">
    <!-- Parte de texto (izquierda) -->
    <div class="login-text">
      <div class="logo-container">
        <img src="/logo.png" alt="Logo">
        <h1>WarmHeart</h1>
      </div>
  
      <p>Correo electrónico</p>
      <input type="email" [(ngModel)]="email" placeholder="Introduce tu correo" required>
  
      <p>Contraseña</p>
      <input type="password" [(ngModel)]="password" placeholder="Introduce tu contraseña" required>
      <p><a routerLink="/login">¿Eres Usuario?</a></p>
  
      <button (click)="login()">Iniciar sesión</button>
      
    </div>
  
    <!-- Parte de la imagen (derecha) -->
    <div class="login-image">
      <img src="login.avif" alt="Login Image">
    </div>
  </div>
  