@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.sidenav {
    width: 250px;
    height: 100vh;
    background: #064270;
    color: white;
    transition: width 0.3s ease-in-out;
    overflow: hidden;
}

.sidenav .logo-container {
    display: flex;
    align-items: center;
    padding: 10px;
}

.sidenav .logo-container .logo {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.sidenav .logo-container .logo .small-logo {
    width: 50px;
    height: 50px;
    margin-right: 13px;
}

.sidenav .logo-container .logo .menu-text {
    font-size: 18px;
    font-weight: bold;
}

.sidenav-nav {
    list-style: none;
    padding: 0;
}

.sidenav-nav-item {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.sidenav-nav-item .sidenav-nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
}

.sidenav-nav-item .sidenav-nav-link:hover {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.sidenav-nav-icon {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.submenu {
    list-style: none;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}

.submenu-item {
    padding: 5px 0;
}

.submenu-item .sidenav-nav-link {
    font-size: 14px;
    padding: 5px;
}

.submenu-item .submenu-icon {
    width: 30px;  /* REDUCCIÓN DEL TAMAÑO DEL ICONO */
    height: 30px;
    margin-right: 8px;
}

.sidenav.collapsed {
    width: 80px;
}

.sidenav.collapsed .sidenav-nav-text,
.sidenav.collapsed .menu-text {
    display: none;
}

.layout {
    display: flex;
    height: 100vh;
}

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-content {
    display: flex;
    align-items: center;
}


.brand-title {
    font-size: 19px;
    font-weight: 600;
    color: #000;
    margin-right: 10px;
}

.highlight {
    color: #d32f2f;
}

.subtitle {
    font-size: 12px;
    color: #666;
    margin-left: 10px;
    margin-right: 860px;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


.body-container {
    /* Altura mínima */
       background-color: #f4f4f4; /* Color gris */
       padding: 20px;
   }

.charts-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
}


.card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 1900px;
    text-align: center;
    height: 500px; /* Altura fija de la tarjeta */
    display: flex;
    flex-direction: column; /* Asegura que los elementos internos estén apilados verticalmente */
}

.card-header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-body {
    display: flex;
    flex-direction: column; /* Apila las gráficas de forma vertical */
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1; /* Permite que el cuerpo de la tarjeta crezca y ocupe el espacio restante */
    overflow-y: auto; /* Activa el scroll vertical cuando el contenido exceda el tamaño */
    padding-right: 10px; /* Para evitar que el contenido se toque con la barra de scroll */
}


.date-filter {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px; /* Espacio entre el filtro y la tarjeta */
    padding: 10px;
    border-radius: 8px;
}

.date-filter label {
    font-size: 14px;
    font-weight: 600;
}

.date-filter input {
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.date-filter button {
    padding: 5px 10px;
    background-color: #EC044B;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.date-filter button:hover {
    background-color: #6c5059;
}
