<div class="container">
    <h2>Mediciones de temperatura</h2>
    <table class="table table-bordered">
      <thead>
        <tr>

          <th>Nombre</th>
          <th>Fecha</th>
          <th>Hora</th>
          <th>Temperatura Registrada</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let temp of temperaturas">
          
          <td>{{ temp.name }}</td>
          <td>{{ temp.date }}</td>
          <td>{{ temp.time }}</td>
          <td>{{ temp.registeredMeasure }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  